{% include "_letterhead.j2" %}

Re: Cease-of-contact demand under 15 U.S.C. §1692c(c)
Account: {{ account.name }} ending {{ account.mask or '****' }}

To whom it may concern,

Pursuant to 15 U.S.C. §1692c(c), I am notifying you in writing that
you must stop communicating with me regarding the above-referenced
debt. After receipt of this letter, you may contact me only to:

  (1) advise me that further efforts are being terminated; or
  (2) notify me that you may invoke a specified remedy that you
      ordinarily invoke; or
  (3) notify me that you intend to invoke a specified remedy.

Any communication other than the limited categories above will be
treated as a violation of the FDCPA and reported to the Consumer
Financial Protection Bureau, the Federal Trade Commission, and the
attorney general of {{ profile.state }}.

Sincerely,


{{ profile.name }}
